# Django Settings
SECRET_KEY=django-insecure-replace-this-with-your-key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1

# Database Settings
DB_NAME=your_database_name
DB_USER=your_postgres_user
DB_PASSWORD=your_postgres_password
DB_HOST=127.0.0.1
DB_PORT=5432

# Cloudinary Settings
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Email Settings
EMAIL_HOST_USER=your_email_host_user_here
EMAIL_HOST_PASS=your_email_host_password_here
COMPANY_EMAIL=your_verified_email@example.com

