{% extends 'layouts/base.html' %}

{% block title %}Login Page{% endblock %}

{% block content %}
    <div class='container'>
        <div class='card'>
            <h4>Welcome to Plant Care Tracker!</h4>
            <form method='post' enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type='submit' class="btn">Login</button>
            </form>
            <p style='margin-top: 15px;'>Don't have an account? 
                <a href="{% url 'register' %}" class='btn btn-secondary'>Register here!</a>
            </p>
        </div>
    </div>
{% endblock %}