{% extends 'layouts/base.html' %}

{% block title %}Logged Out{% endblock %}

{% block content %}
    <div class='container'>
        <div class='card'>
            <h5>You have been successfully logged out!</h5>
            <p style='margin: 15px;'>See you soon, Gardener!</p>
            <div class='details-actions-wrapper'>
                <a href="{% url 'login' %}" class='btn btn-secondary'>Login Again</a>
                <a href="{% url 'home' %}" class='btn btn-secondary'>Home</a>
            </div>
        </div>
    </div>
{% endblock %}