{% load static %}

<div class='inner'>
    <div class='site-branding'>

        <div class='site-logo'>
            <span class='icon'>🌺</span>
        </div>
        <div class='site-description'>
            <a href="{% url 'home' %}">Plant Care Tracker</a>
        </div>


        {% if user.is_authenticated %}
            <nav>
                <ul>
                    <li><a href="{% url 'catalogue' %}">My Catalogue</a></li>
                    <li><a href="{% url 'create-plant' %}">New Plant</a></li>
                    <li><a href="{% url 'statistics' %}">Statistics</a></li>
                    <li>
                        <a href="{% url 'notifications-list' %}">
                            {% if unread_count > 0 %}
                                <span class="notification-badge">🔔Alerts {{ unread_count }}</span>
                            {% else %}
                                Alerts
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'gardener-details' %}">
                            {% if user.gardener.nickname %}
                                {{ user.gardener.nickname }}'s Profile
                            {% else %}
                                Profile
                            {% endif %}
                        </a>
                    </li>

                    <li>
                        <form action="{% url 'logout' %}" method='post'>
                            {% csrf_token %}
                            <button type='submit' class='nav-logout'>Logout</button>
                        </form>
                    </li>
                </ul>
            </nav>
        {% else %}
            <nav>
                <ul>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                </ul>
            </nav>
        {% endif %}
    </div>
</div>