{% extends 'common/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/404.css' %}">
{% endblock %}

{% block content %}
    <div class="error-page">
        <div class="error-content">
            <div class="error-image">🥀</div>
            <h2>Oops! Root Error...</h2>
            <p>Error 404: It seems this page has withered away or was never planted in our garden.</p>
            <a href="{% url 'home' %}" class="btn-back">Go back to PLANT CARE TRACKER</a>
        </div>
    </div>
{% endblock %}