{% extends 'layouts/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/error-pages.css' %}">
{% endblock %}

{% block content %}
    <div class="error-page">
        <div class="error-content">
            <div class="error-image">⛈️</div>
            <h2>Internal Server Overgrowth!</h2>
            <p>Error 500: Our garden is experiencing a storm. Our botanists are working to fix it!</p>
            <a href="{% url 'home' %}" class="btn-back">Seek shelter at HOME</a>
        </div>
    </div>
{% endblock %}