{% extends 'layouts/base.html' %}

{% block title %}Delete Profile{% endblock %}

{% block content %}
    <div class='container'>
        <div class='card delete-card'>
            <div class='warning-icon'>
                <span class='icon'>🌺</span>
            </div>
        
            <h3>Are you sure, {{ gardener.nickname }}?</h3>
            {% if gardener.plants.exists %}
                <p>If you delete your profile, your
                    <strong>{{ gardener.plants.count }} plant{{ gardener.plants.count|pluralize }}</strong>
                    and all maintenance history will be gone forever!</p>
            {% else %}
                <p>If you delete your profile, all your data will be gone forever!</p>
            {% endif %}
        
            <form method='post' class='delete-actions'>
                {% csrf_token %}
                <a href="{% url 'catalogue' %}" class='btn btn-secondary'>No, take me back!</a>
                <button type='submit' class='btn btn-delete'>Yes, delete!</button>
            </form>
        </div>
    </div>
{% endblock %}