.section.site-navigation {
    margin-top: 1.5em;
}

.section.site-navigation .site-branding {
    flex: 0 0 auto;
    display: flex;
    gap: 0.8em;
    align-items: center;
}

.section.site-navigation .site-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    background: var(--flower-accent);
    border-radius: 50%;
    width: 1.8em;
    height: 1.8em;
}

.section.site-navigation .site-logo > img {
    aspect-ratio: 1/1;
}

.section.site-navigation .site-description a {
    text-transform: uppercase;
    font-family: 'Bebas Neue', serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 2;
    text-decoration: none;
    color: var(--green);
}

.section.site-navigation nav {
    margin-left: auto;
}

.section.site-navigation nav ul {
    display: flex;
    gap: 1em;
}

.section.site-navigation nav a,
.section.site-navigation nav li {
    text-decoration: none;
    list-style: none;
    color: var(--green);
    font-weight: 600;
    font-size: 1.12em;
    letter-spacing: -1.5px;
}

.section.site-navigation nav a:hover,
.section.site-navigation .site-description a:hover {
    color: var(--dark-purple);
}