{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Plants Catalogue{% endblock %}

{% block content %}
    <h3>My Catalogue</h3>
    <div class='catalogue'>
        {% if plants %}
            <div class='plant-grid'>
                {% for plant in plants %}
                    <div class='plant-card'>
                        {% static 'images/plant-avatar.jpg' as default_plant %}
                        <img src="{{ plant.image_url|default:default_plant }}" alt='plant'>
                        <h4>{{ plant.plant_name }}</h4>
                        <p> 📌 {{ plant.city }}, {{ plant.address }}</p>
                        <p><strong>needs:</strong></p>
                        <p> 💧 {{ plant.watering_frequency }} times / month</p>
                        {% if not plant.fertilizing_frequency == 0 %}
                            <p> 🧪 {{ plant.fertilizing_frequency }} times / year</p>
                        {% endif %}
                        {% if not plant.fertilizing_frequency == 0 %}
                            <p> ✂️ {{ plant.pruning_frequency }} times / year</p>
                        {% endif %}
                        <div class='details-actions-wrapper'>
                            <a href='{% url "maintenance-details" plant.pk %}' class='btn btn-maintenance'>Care</a>
                            <a href='{% url "plant-details" plant.pk %}' class='btn btn-details'>Details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h5>No plants added yet!</h5>
        {% endif %}
    </div>
{% endblock %}