{% extends 'layouts/base.html' %}

{% block title %}New Plant{% endblock %}

{% block content %}
    <div class='container'>
        <div class='card'>
            <form method='post' enctype='multipart/form-data'>
                <h4>New Plant</h4>
                {% csrf_token %}
                {{ form }}
                <p style='margin-top: 20px;'>Can't find the right tag? 
                    <a href="{% url 'suggest-tag' %}" target="_blank">Suggest a new one here!</a>
                </p>
                <button type='submit'>Save</button>
            </form>
        </div>
    </div>
{% endblock %}
