{% extends 'layouts/base.html' %}

{% block title %}Tag Suggestion{% endblock %}

{% block content %}
    <div class='container'>
        <div class='card'>
            <h4>Suggest a New Tag 🍃</h4>
            <p>Your suggestion will be reviewed by a moderator before appearing in the list.</p>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class='details-actions-wrapper'>
                    <button type="submit" class="btn btn-primary">Submit Suggestion</button>
                    <a href="{% url 'catalogue' %}" class="btn btn-delete">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}